/*
.flex-item {
    background: tomato;
    padding: 5px;
    border: 2px solid rgb(2, 0, 128);
    width: 200px;
    height: 150px;
    margin-right: 2px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
} */

.flex-container {
    display: flex;
}
* {
    position: relative;
    box-sizing: border-box;
}

body {
    display: flex;
}

#carcasa {
    border-radius: 18px;
    background-color: #74cc02;
    width: 375px;
    height: 600px;
    margin: auto;
    border: 5px solid black;
}

#pantalla {
    border-radius: 18px;
    margin: auto;
    top: 3%;
    background-color: rgb(75, 75, 75);
    width: 90%;
    height: 45%;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
}

#display {
    right: 10px;
    border-radius: 18px;
    /* margin: auto; */
    background-color: rgb(139, 139, 139);
    width: 75%;
    height: 75%;
    border: 5px solid black;
}

#led{
    right: 25px;
    bottom: 50px;
    border-radius: 100%;
    background-color: rgb(233, 7, 7);
    border: 3px solid black;
    height: 15px;
    width: 15px;
}

#logo {
    text-align: center;
    margin: auto;
    border-radius: 18px;
    color: white;
    /* background-color: rgb(68, 63, 63); */
    width: 110px;
    height: 18px;
    top: 5.5%;
    border: 4px solid black;
}

.sombreados{
    box-shadow: 0px 4px 2px rgba(49, 49, 49, 0.767);
}

#botones1 {
    height: 100px;
    top: 7%;
    align-items: center;
}

#cruz1, #cruz2{
    background-color: rgb(100, 100, 100);
    border: 6px solid black;
    border-radius: 10px;
}

#cruz1 {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    left: 5%;
}

#cruz2 {
    width: 30px;
    height: 100px;
    right: 46px;
}

#dtcruz{
    border-radius: 100%;
    background-color: rgb(100, 100, 100);
    border: 3px solid black;
    height: 15px;
    width: 15px;
    left: 0.5px;
    z-index: 999;
}

#cruz3 {
    background-color: rgb(100, 100, 100);
    width: 75px;
    height: 18px;
    /* border: 4px solid black; */
    left: -100px;
    border-radius: 10px;
}

#btnA, #btnB{
    border-radius: 100%;
    background-color: rgb(100, 100, 100);
    border: 6px solid black;
    height: 44px;
    width: 44px;
}

#btnB {
    top: 10%;
    left: 30px;
}

#btnA {
    align-self: start;
    top: 13%;
    left: 45px;
}

#botones2 {
    height: 20px;
    top: 17%;
    justify-content: center;
}

.btn1 {
    border: 6px solid black;
    border-radius: 10px;
    width: 53px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(100, 100, 100);
}

#speaker{
    /* border: 1px solid black; */
    top: 18%;
    height: 75px;
    justify-content: flex-end;
}

#cuadricula{
    /* border: 1px solid black; */
    margin: auto 20px auto 0;
    height: 65px;
    width: 65px;
    align-items: flex-start;
    flex-flow: row wrap;
}

.dot, .dot1{
    /* border: 1px solid black; */
    margin: 1px;
    border-radius: 100%;
    height: 8px;
    width: 8px;
}

.dot1{
    background-color: rgb(133, 133, 133);
}

.dot{
    background-color: rgb(70, 70, 70);
}